{% extends "base.html" %}
{% load static %}

{% block content %}
        <div class='about'>
            🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏🙏
        </div>
        <div class='about'>
            Авторы проекта были из тех, <del> кто просто любит жить</del> кто взял этот курс из-за того, что кроме питона ничего особо не знают, а о том, что компания "Точка", которая ведет курс, это не "Вкусно и точка", а банк, узнали только спустя некоторое время.
        </div>
        <div class='about'>
            Как только пришло осознание, что придется делать проект, в котором будет чуть больше функционала, чем if-else, авторы впали в дисперсию, а пугающие слова вроде django, ORM, база данных и т.д. окончательно сломили их веру.
        </div>
        <div class='about'>
            Но авторы не сдавались, и решили долбить проект пока он не заработает, и если вы это читаете (надеемся), то значит хоть что-то у них получилось.
        </div>
        <div class='about'>
            Аминь.
        </div>
{% endblock %}